body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #14213d;
}

/* li {
  list-style: none;
} */

.hero-image {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/static/images/abhishek-tanwar-FFbGDH7yHc4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 10px;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  padding: 10px;
}

.nav-link {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
}

.nav-link:hover {
  color: orange;
  font-weight: 700;
}

.hero-text {
  color: white;
  text-align: left;
  width: 70%;
  margin: 10px auto;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: bold;
}

.hero-text p {
  font-size: 30px;
}

.text-subtitle {
  font-size: 20px;
}

#text-city {
  color: gold;
}

#text-country {
  color: greenyellow;
}

.container {
  margin: 20px;
  padding: 20px 40px 10px 40px;
  border: 1px solid black;
  border-radius: 50px 10px;
  background-color: #e5e5e5;
}

#flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.skills h3 {
  margin-bottom: 10px;
  color: #000000;
}

.skills ul {
  list-style-type: square;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: black;
  color: white;
}

#linkedin {
  color: #0077b5;
}

#github {
  color: gray;
}

h2 {
  color: #fb8500;
  margin-top: 0;
  margin-bottom: 0;
}
