html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black; /* #14213d; */
}

/* li {
  list-style: none;
} */

.hero-image {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/static/images/abhishek-tanwar-FFbGDH7yHc4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  min-width: 110px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  padding: 10px;
}

.nav-link {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
}

.nav-link:hover {
  color: orange;
  font-weight: 700;
}

.hero-text {
  color: white;
  text-align: left;
  width: 80%;
  margin: 10px auto;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: bold;
}

.hero-text p {
  font-size: 50px;
  max-width: 100%;
  font-weight: 400;
}

.job-titles {
  font-style: italic;
  font-weight: 100;
  color: #8ecae6;
}

.text-subtitle {
  font-size: 30px;
}

#text-city {
  color: gold;
}

#text-country {
  color: greenyellow;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 20px 0px;
  padding: 20px 40px 10px 40px;
  background-color: #111111;
  line-height: 2;
  max-width: 1000px;
}

#skills-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.skills h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: gold;
}

ul {
  list-style-type: square;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: black;
  color: white;
}

#connect {
  min-width: 300px;
  text-align: center;
}

#connect h2 {
}

#linkedin {
  color: #0077b5;
  font-size: 1.25rem;
}

#github {
  color: gray;
  font-size: 1.25rem;
}

h2 {
  color: #8ecae6; /* #fb8500; */
  margin-top: 0;
  margin-bottom: 0;
}

/* Bootstrap recommended breakpoint for small devices (landscape phones, 576px and up) */
@media (max-width: 275.98px) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .nav-bar li {
    margin: 0.5em auto;
  }
}

@media (max-width: 575.98px) {
  /* 1.1 Adjust the font size for h1 and subtitles */
  .hero-text h1 {
    font-size: 60px; /* Adjust this value based on your preference */
  }

  .hero-text p {
    font-size: 30px; /* Adjust this value based on your preference */
  }

  .text-subtitle {
    font-size: 18px; /* Adjust this value based on your preference */
  }

  /* 1.2 Adjust the hero background image */
  .hero-image {
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }

  /* 1.3 Make the two divs flow into a single column */
  #skills-flex {
    display: flex;
    flex-direction: column;
  }
}

/* Bootstrap recommended breakpoint for medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
  /* If you want to make any adjustments for tablets specifically, add them here */
}

@media (max-width: 1000px) {
}

/* You can add more media queries for larger devices if needed */
